<html>
   <head>
          <!-- <link rel ="stylesheet" href = "style2.css">--> 
    </head>
    <body>
        <div id="businesstype">
                <p> Business Register </p>
                <form action = "http:/localhost:5000/businessregister" method = "post">
                <label for="Bussinessname"></label><br>
                <input type="text" id="Businessname" name ="Businessname" placeholder="Business name"> <br>
                <fieldset>
                    <legend><strong>Business Box: </strong>></legend>
                    <table width="35%" border = 0>
                    <td>Choose your business type: </td>
                    <td>
                        <select name = "business" id = "business">
                            <option value = "">Please choose a type </option>
                            <option value = "1">Dining </option>
                            <option value = "2" >Shopping</option>
                            <option value = "3" >Car Wash </option>
                            <option value = "4" >Tour </option>
                            <option value = "5" >Shuttles </option>
                            <option value = "6" >Rental Cars </option>
                            <option value = "7" >Medical </option>
                            <option value = "8" >Public Transit</option>
                            <option value = "9" >Pet Services</option>
                            <option value = "10" >Airport Authority</option>
                        </select>
                
                    <td>
                <input type="submit" value ="submit"><br>
        </div>
    </body>
</html>