

   <!DOCTYPE html>
   <html>
   <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/business.css') }}">
      
   </head>
   
   <body>
   
         
            <table  class="title">
               <tr>
                  <td colspan="2" align="center"><b><font size="6" >Business View Create A New Poast</font></b></td>
               </tr>   
               <tr>
                     <td ><font size="5">@ {{ name }}!   </font></td>
                     
                     <td  align="right"><a href='{{url_for('login')}}'><button type="submit">logout</button></a></td>
               </tr>
                  
            </table>

   
   <div class="row">
      <div class="column" style="background-color:#aaa;">
        <h2>Create A Post</h2>
        
        <form action = "{{url_for('funct',User_Id = User_Id)}}"  method = "POST">
         
         <label for="title">Post Title: </label>
         <input type="text" maxlength="100" name="title" />
         <label for="desc">description: </label>
         <input type="text" maxlength="100" name="desc" />
         <br><br>
        
         <input type="hidden" name="status" value="add">
         <button type="submit" >Add Record </button>
         
         
         </form>

         <br><br>
         
      </div>




   

</body>
</html>