<html>
   <head>
          <!-- <link rel ="stylesheet" href = "style1.css">--> 
    </head>
    <body>
        <div>
                <p> Register </p>
                <form action = "http:/localhost:5000/register" method = "post">
                <label for="Fullname"></label><br>
                <input type="text" id="Fullname" name ="Fullname" placeholder="Full name"> <br>
                <label for="Username"></label><br>
                <input type="text" id="Username" name ="Username" placeholder="Username"> <br>
                <label for="Password" placeholder="password"></label><br>
                <input type="password" id="Password" name ="Password" placeholder="Password"> <br>
                <label for="roleid"></label><br>
                <p>Type 1 if you are an user, 2 if you are a business, 3 if you are an administrator</p>
                <input type="number" id="roleid" name ="roleid" placeholder="Type a number here"> <br>
                <input type="submit" value ="submit"><br>
                <a href="login.html">Existing User? Login here!</a>
        </div>
    </body>
</html>