table {
    width: 100%;
    background-color: rgba(174, 214, 241 );
    border: 0px solid black;
  }

  form {
    background-color: #23dcf5;
    border: red;
    color: white;
    padding: 10px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 18px;
     

  }


  ol {
    width: 20% ;
    border: 0px solid black;
  }
  
  h1 {
    
    text-align: center;

  }
  h2 {
    text-align: center;
  }

  /* body {
      background-color: rgb(3, 189, 96);
      align-items: center;
      height: 100%;}  */

 

  * {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    align-items: center;
    height: 800px;/* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }

  table {
    width: 100%;
    background-color: rgba(174, 214, 241 );
    border: 0px solid black;
  }
  
  tr:hover {
      background-color:inherit;
  }
  tr{
    text-align: center;
  }

  th{
    background-color:  #044a72;
    color: white;
    width: auto;
  }

  td {
    width: auto ;
    border: 0px solid black;
  }
  
  h1 {
    background-color: rgba(174, 214, 241 );
  }

  body {background-color: rgba(174, 214, 241 );}

  
  button {
    background-color: #044a72;
    border: red;
    color: white;
    cursor:pointer;
    padding: 5px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    box-shadow: 0 5px rgb(7, 236, 236);
  }
button:hover {
  background-color: rgb(6, 109, 122);
}
button:active {
  background-color: rgb(157, 244, 255);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


 



  
  
  