table {
    width: 100%;
    background-color: rgba(174, 214, 241 );
    border: 0px solid black;
  }
  
  tr:hover {
      background-color: #FFFFFF;
  }

  th{
    background-color:  #044a72;
    color: white;
  }

  td {
    width: 20% ;
    border: 0px solid black;
  }
  
  h1 {
    background-color: rgba(174, 214, 241 );
  }

  body {background-color: rgba(174, 214, 241 );}

  
  button {
    background-color: #044a72;
    border: red;
    color: white;
    padding: 5px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
  }
  
  
