table {
    width: 100%;
    background-color: rgb(79, 179, 104);
    border: 0px solid black;
  }
  
  tr:hover {
      background-color:inherit;
  }
  tr{
    text-align: center;
  }

  th{
    background-color:  #044a72;
    color: white;
    width: auto;
  }

  td {
    width: auto ;
    border: 0px solid black;
  }
  
  h1 {
    background-color: rgba(174, 214, 241 );
  }

  body {background-color: rgba(174, 214, 241 );}

  
  button {
    background-color: #044a72;
    border: red;
    color: white;
    cursor:pointer;
    padding: 5px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    box-shadow: 0 5px rgb(7, 236, 236);
  }
button:hover {
  background-color: rgb(6, 109, 122);
}
button:active {
  background-color: rgb(157, 244, 255);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



 



  
  
  